body {
    font-family: Arial;
}

.navbar {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
div.navbar li {
    float: left;
}
  
div.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.navbar li a:hover {
    background-color: #111;
}